<footer>
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 footer-about wow fadeInUp">
                        <h6>Xchange</h6>
                        <p>
                            We engage in exchanging of foreign currency such as dollar, pounds, and euro to naira
                        </p>

                    </div>
                    <div class="col-md-4 offset-md-1 footer-contact wow fadeInDown">
                        <h6>Contact</h6>
                        <p><i class="fa fa-map-marker-alt"></i> No 123 Block A Airport Road </p>
                        <p><i class="fa fa-phone"></i> Phone: +23489384748</p>
                        <p><i class="fa fa-envelope"></i> Email: <a href="mailto:xchange@mail.com">xchange@mail.com</a></p>
                        <p><i class="fa fa-skype"></i> Xchange_currency</p>
                    </div>
                    <div class="col-md-4 footer-links wow fadeInUp">
                        <div class="row">
                            <div class="col">
                                <h6>Links</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p><a class="scroll-link" href="#top-content">Home</a></p>
                                <p><a href="#">Wallet</a></p>
                                <p><a href="#">Login</a></p>
                                <p><a href="#">Sign Up</a></p>
                            </div>
                            <div class="col-md-6">
                                <p><a href="#">Privacy &amp; policy</a></p>
                                <p><a href="#">FAQS</a></p>
                                <p><a href="#">Terms</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                       <div class="col-md-6 footer-copyright">
                        &copy; Copyright 2016 All Right Reserved  <a href="#"> Xchange</a>
                    </div>
                       <div class="col-md-6 footer-social">
                        <a href="#"><i class="fa fa-facebook-f"></i></a> 
                        <a href="#"><i class="fa fa-twitter"></i></a> 
                        <a href="#"><i class="fa fa-envelope"></i></a> 
                        <a href="#"><i class="fa fa-instagram"></i></a> 
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                   </div>
            </div>
        </div>
    </footer>
