<div class="sidebar-menu">
  <div class="sidebar-header">
      <div class="logo">
          <a routerLink="/" ><h3>Xchange</h3></a>
      </div>
  </div>
  <div class="main-menu">
      <div class="menu-inner">
          <nav> 
              <ul class="metismenu" id="menu">
                  <li routerLinkActive="active"><a routerLink="/wallet"><i class="ti-dashboard"></i> 
                    <span>Dashboard</span></a>
                </li>
                  <li routerLinkActive="active"><a routerLink="/fund-wallet"><i class="ti-credit-card"></i> 
                    <span>Fund Wallet</span></a>
                </li>
                  <li routerLinkActive="active"><a routerLink="/buy-sell"><i class="fa fa-exchange"></i> 
                    <span>Buy / Sell</span></a>
                </li>
                  <li routerLinkActive="active"><a routerLink="/dispense-cash"><i class="ti-money"></i> 
                    <span>Dispense Cash</span></a>
                </li>
                  <li routerLinkActive="active"><a routerLink="/transaction-history"><i class="ti-bar-chart"></i> 
                    <span>Transaction History</span></a>
                </li>
                  <li routerLinkActive="active"><a routerLink="/user-profile"><i class="ti-user"></i> 
                    <span>User Profile</span></a>
                </li>
                <li routerLinkActive="active"><a routerLink="/message"><i class="fa fa-envelope-o"></i> 
                    <span>Messages</span></a>
                </li>
                <li routerLinkActive="active"><a routerLink="/notification"><i class="ti-bell"></i> 
                    <span>Notifications</span></a>
                </li>
                  <li routerLinkActive="active"><a routerLink="/setting"><i class="ti-settings"></i> 
                    <span>Setting</span></a>
                </li>
              </ul>
          </nav>
      </div>
  </div>
</div>