
// CARD DESIGN
.sales-report-area .naira .icon{
    background-color: green;
}
.sales-report-area .dollar {
    .icon{
        background-color: rgb(226, 45, 105)
    }
    .single-report{
        background-color: rgb(255, 0, 179);
    }
}
.cripto-live li{
    text-transform: capitalize;
    
}
.sales-report-area .currency{
    margin-bottom: 1.6%;
}