<app-header></app-header>
<header class="bg-gradient" id="home">
        <div class="container mt-5">
            <h1> Exchange your foreign currency to <b>Naira</b></h1>
            <p class="tagline">It allows all customer to choose their preferred 
                price rate to exchange their foreign currency. </p>

        </div>
        <div class="img-holder mt-3">
                <img class="store-download img-fluid" src="https://wallet.ng/landingassets/img/playstore-button.png" alt="playstore">
                <img class="store-download img-fluid" src="https://wallet.ng/landingassets/img/appstore-button.png" alt="playstore">
            <img src="./assets/images/iphonex.png" alt="phone" class="img-fluid">
           
            
        </div>
    </header>
<app-footer></app-footer>