
<!-- <div id="preloader">
  <div class="loader"></div>
</div> -->
<!-- preloader area end -->
<!-- page container area start -->
<div class="page-container">
  <!-- sidebar menu area start -->
    <app-sidebar></app-sidebar>
  <!-- sidebar menu area end -->
  <!-- main content area start -->
  <div class="main-content">
    <app-dashboard-header></app-dashboard-header>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p style="text-align: center; font-weight: bold;
           font-size: 20px; color: red">Please check back, am yet to work on this component !!!</p>
        </div>
      </div>
    </div>
  </div>
  <!-- main content area end -->
  <!-- footer area start-->
  <app-dashboard-footer></app-dashboard-footer>
  <!-- footer area end-->
<notifier-container></notifier-container> 
</div>